<div class="wrapper">
	<footer>
		<p>~ Designed by Bogdan Vlad ~</p>
		<!-- <a href="#up" title="Jump to top of page"><i class="fas fa-chevron-circle-up"></i></a> -->
	</footer>
</div>
<script src="/javascript/script.js"></script>
</body>

</html>