<%- include('./partials/header') %>


<div class="cover-wrapper">
	<div class="wrapper">
		<header>
			<a href="/" class="logo" title="Bogdan Vlad">Bogdan Vlad</a>
			<nav>
				<ul>
					<li><a href="/" class="home" title="Home">Home</a></li>
					<li><a href="/about" title="About">About</a></li>
					<li><a href="/contact" title="Contact">Contact</a></li>
				</ul>
			</nav>
		</header>
	</div>
</div>

<div class="wrapper about-grid">
	<div class="about">
		<h1>About Me</h1>
		<hr class="hr-red">
		<div class="paragraphs">
			<p>I always found web development very captivating and fun; however, it wasn't until about 2019 when I
				finally decided to follow this career path.</p>

			<p>I'm very passionate about JavaScript, I find it interesting, and fun to play with, but I'm also a bit of
				a nerd when it comes to CSS design and animations. I'm a developer, because I'm inspired by the idea of
				being a better me today than I was yesterday. Put simply, I love to learn and this project is a great
				example of that!</p>

			<p>My ultimate goal is to become a great Full-Stack Developer with a wide range of skills and knowledge
				in this field.</p>

			<p><strong>The "Ok, but what else..?"</strong></p>

			<p>When I'm not coding, or learning a new JavaScript framework, I like spending my free time playing on my
				bass guitar, hitting the gym or playing video games.</p>
		</div>
	</div>

	<div class="skills">
		<h1>Skills</h1>
		<hr class="hr-red">
		<div class="languages">
			<i class="devicon-html5-plain-wordmark colored"></i>
			<i class="devicon-css3-plain-wordmark colored"></i>
			<i class="devicon-sass-original colored"></i>
			<i class="devicon-bootstrap-plain-wordmark colored"></i>
			<i class="devicon-javascript-plain colored"></i>
			<i class="devicon-nodejs-plain-wordmark colored"></i>
			<i class="devicon-npm-original-wordmark colored"></i>
			<i class="devicon-git-plain-wordmark colored"></i>
			<i class="devicon-github-plain-wordmark"></i>
			<i class="devicon-heroku-plain-wordmark colored"></i>
			<i class="devicon-visualstudio-plain colored"></i>
		</div>
	</div>
</div>


<%- include('./partials/footer') %>