<%- include('./partials/header') %>

	<button id="back-to-top"><i class="fas fa-angle-double-up"></i></button>
	<div class="wrapper">
		<header>
			<a href="/" class="logo" title="Bogdan Vlad">Bogdan Vlad</a>
			<nav>
				<ul>
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/about" title="About">About</a></li>
					<li><a href="/contact" title="Contact">Contact</a></li>
				</ul>
			</nav>
		</header>

		<div class="human">
			<img src="/images/cover2.jpg" alt="Bogdan Vlad">
			<p>Hello, my name is Bogdan and I'm a web developer, currently living in Bath, UK.
			</p>
		</div>



		<div class="portfolio-section">
			<h1>Portfolio</h1>
			<hr class="hr-red">
		</div>

		<ul class="items">
			<li>
				<div class="intro">
					<img src="/images/todo_react.jpg" class="projectImage" alt="react todo app">
					<h3><strong>Todo List</strong></h3>
					<p>I've made this simple todo list with React that lets the user to write, complete, edit or delete tasks.</p>
				</div>

				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/todo_list_react" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://my-todo-app-kohl.vercel.app/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

			<li>
				<div class="intro">
					<img src="/images/maze.jpg" class="projectImage" alt="maze game">
					<h3><strong>Maze Game</strong></h3>
					<p>This is a maze game I've made with JavaScript and Matter.js. The goal is to reach the little
						square in the bottom right corner. After you do that, the whole maze falls apart.</p>
					<p>Use W, A, S and D to control the ball.</p>
				</div>

				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/maze_js" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://maze-js-nine.vercel.app/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

			<li>
				<div class="intro">
					<img src="/images/movie_fight.jpg" class="projectImage" alt="movie comparison">
					<h3><strong>Movie Fight</strong></h3>
					<p>Movie Fight is an app that compares two movies against each other and it highlights the winner
						movie in green colour, and the loser in red colour.</p>
					<p>I'm using Javascript with Axios to fetch the data from <a href="http://omdbapi.com/" .
							target="_blank">omdbapi.com</a></p>
				</div>

				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/movie_comparison" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://movie-comparison-eight.vercel.app/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

			<li>
				<div class="intro">
					<img src="/images/secret_message.jpg" class="projectImage" alt="secret message app">
					<h3><strong>Secret Message</strong></h3>
					<p>I've made this app that can be used to convert a normal text into an encoded message.</p>
					<p>The input text area can accept any characters from the ASCII table and the message gets encoded
						in a Base64
						code.</p>
				</div>

				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/secret_message" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://secret-message-js-nine.vercel.app/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

			<li>
				<div class="intro">
					<img src="/images/timer.jpg" class="projectImage" alt="timer app">
					<h3><strong>Timer</strong></h3>
					<p>This is a small timer app that counts down from a specified time towards 0.</p>
					<p>I've made this using JavaScript and CSS.</p>
				</div>

				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/Timer_js" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://timer-js-mauve.vercel.app/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

			<li>
				<div class="intro">
					<img src="/images/yelp_camp.jpg" class="projectImage" alt="camp reviewing platform">
					<h3><strong>Yelp Camp</strong></h3>
					<p>This is a camp reviewing app I made in Node.js, using Express.js, Mongoose, MongoDB as a
						preferred
						database and Passport.js to handle the authentication logic.</p>
				</div>

				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/Yelp-Camp" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://sheltered-falls-05402.herokuapp.com/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

			<li>
				<div class="intro">
					<img src="/images/colour_guessing.jpg" class="projectImage" alt="colour guessing game">
					<h3><strong>Colour Guessing Game</strong></h3>
					<p>Simple colour guessing game I've made with JavaScript and CSS. This little project has
						helped me
						get a better grasp at DOM manipulation, functions, loops and the keyword '<em>this</em>'.</p>
				</div>
				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/Colour-guessing-game" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://whispering-scrubland-16592.herokuapp.com/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

			<li>
				<div class="intro">
					<img src="/images/patatap_clone.jpg" class="projectImage" alt="patatap clone">
					<h3><strong>Patatap Clone</strong></h3>
					<p>Definitely not as cool as Patatap; however, I really ejoyed making this one, because it was a
						good
						oportunity for me to include Paper.js to my portfolio.</p>
				</div>
				<div class="icons-home">
					<div class="github">
						<a class="red-anchor" href="https://github.com/Vlad-B/Patatap-Clone" target="_blank">
							<i class="fab fa-github"></i>
							<span>-</span>
							GitHub
						</a>
					</div>
					<div class="link">
						<a class="red-anchor" href="https://floating-sea-61626.herokuapp.com/" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							<span>-</span>
							Link Here
						</a>
					</div>
				</div>
			</li>

		</ul>
	</div>
	<script src="/javascript/script.js"></script>

	<%- include('./partials/footer') %>